<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:property-placeholder
		location="classpath:message.properties" />
	<bean id="customProcessor"
		class="com.luv2code.springdemo.MyCustomBeanProcessor">
	</bean>

	<bean id="message" class="com.inversionOfControl.app.Message"
		init-method="initMessage" destroy-method="destroy" scope="prototype">
		<constructor-arg value="Hello, kem Choo???"></constructor-arg>
		<property name='newMessage'>
			<value>
				Nothing to say Just Do It...
			</value>
		</property>
		<property name="Id">
			<value>
				50
			</value>
		</property>
	</bean>

	<bean id="message2" class="com.inversionOfControl.app.Message"
		parent="message">
	</bean>

	<bean id="coach" class="com.inversionOfControl.app.CricketCoach">
		<constructor-arg value="${temp.message}"></constructor-arg>
		<constructor-arg ref="message"></constructor-arg>

	</bean>

	<bean id="coachList"
		class="com.inversionOfControl.app.CricketCoach">
		<constructor-arg>
			<list>
				<ref bean="message"></ref>
				<ref bean="message"></ref>
			</list>
		</constructor-arg>
	</bean>

	<bean id="coach2" class="com.inversionOfControl.app.CricketCoach"
		parent="coach">
	</bean>
</beans>