<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Employee</title>
</head>

<body>

<div class="container">

    <h3>Employee Directory</h3>
    <hr>

    <p class="h4 mb-4">Save Employee</p>

    <form action="#" th:action="@{/product/save}"
          th:object="${product}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{product_no}" />

        <input type="text" th:field="*{product_name}"
               class="form-control mb-4 col-4" placeholder="Product Name">

        <input type="text" th:field="*{price}"
               class="form-control mb-4 col-4" placeholder="Price">

        <button type="submit" class="btn btn-info col-2">Save</button>

    </form>

    <hr>
    <a th:href="@{/product/list}">Back to Employees List</a>

</div>
</body>

</html>










