<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Product Directory</title>
</head>

<body>

<div class="container">

    <h3>Product Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/product/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Product
    </a>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Product No</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.product_no}" />
            <td th:text="${product.product_name}" />
            <td th:text="${product.price}" />
            <td>
                <a th:href="@{/product/showFormForUpdate(productID=${product.product_no})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/product/delete(productID=${product.product_no})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>



