<form action="/insert"  method="POST">
  Enter Username : <input type="text" name="username">
  <br>
  Enter Password : <input type="password" name="password">
  <br>
  <input type="submit">
  </form>