<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success ml-auto mr-auto">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <a href="#" class="list-group-item clearfix"
      *ngFor="let recipe of recipes"
    >
      <div class="float-left">
        <h3>{{recipe.name}}</h3>
        <p class="lead">{{recipe.description}}</p>
      </div>
      <span class="float-right">
        <img [src] = "recipe.imagePath"
        style="max-height: 50px;"
        >
      </span>
    </a>
  </div>
</div>
