h1 {
  color: red;
}

@media(max-width:760px) {
  h1 {
    color: blue;
  }
}

@media(max-width:560px) {
  h1 {
    color: black;
  }
}

div.example{
  color: red;
}

p.ptag{
  color:green;
}

#example{
  color: yellow;
}

.padding-color-outer{
  border: 2px red solid;
}

.padding-color-inner{
  padding: 10px;
  background-clip: content-box;
  background-color: blue;
  box-shadow: inset 0 0 0 10px lightGreen;;
}