body {
  background-color: gray;
}



@media (max-width: 1200px) {
  body {
    background-color: orange;
  }
}

@media (max-width: 1000px) {
  body {
    background-color: green;
  }
}

@media (max-width: 800px) {
  body {
    background-color: yellow;
  }
}

@media (max-width: 600px) {
  body {
    background-color: red;
  }
}