body{
  background-color: #333;
  color: #fff;
}

#home-head {
  background-image: url(images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.dark-overlay{
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  height: 700px;
}